Repository sablier-labs/deployments: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run biome:write, bun run prettier:write

.lintstagedrc.yml:

"*.{json,jsonc,ts}": "bun run biome:write"
"*.{md,yml}": "bun run prettier:write"

test: fix broken tests for zk broadcasts
  TODOs.md
  justfile
  scripts/check-broadcast.ts
  scripts/print-chains.ts
  scripts/print-missing.ts
  src/chains/config.ts
  src/releases/lockup/v2.0/deployments.ts
  tests/chains.test.ts
  tests/contracts/deployment-blocks.test.ts
  tests/deployments/utils/finders.ts
  tests/deployments/utils/generators.ts
  tests/deployments/utils/helpers.ts
  tests/deployments/utils/loaders.ts
  tests/setup/missing.ts
  tests/types.ts
Due: bun run biome:write, bun run prettier:write

fix: getter in release queries
  package.json
  src/releases/queries.ts
Due: bun run biome:write

build: bump version
  bun.lock
  package.json
  src/helpers.ts
Due: bun run biome:write

build: bump viem
  biome.jsonc
  bun.lock
  cli/print/chains.ts
  package.json
  src/internal/helpers.ts
  src/internal/logger.ts
  tests/deployments/lockup.test.ts
  tsconfig.build.json
  tsconfig.json
Due: bun run biome:write

build: bump version
  cli/print/missing-broadcasts.ts
  justfile
  src/check-broadcast.ts
  src/releases/helpers.ts
  tests/deployments/utils/loaders.ts
  tsconfig.json
Due: bun run biome:write

feat: more rpc infura and alchemy
  README.md
  package.json
  src/chains/rpc.ts
Due: bun run biome:write, bun run prettier:write

build: beta release
  package.json
  src/chains/rpc.ts
Due: bun run biome:write

feat: allow chain id in contracts queries
  src/chains/rpc.ts
  src/contracts/queries.ts
Due: bun run biome:write

refactor: allow chainId in getAll
  src/contracts/queries.ts
Due: bun run biome:write

refactor: simpler definition for catalog
  src/contracts/catalog.ts
Due: bun run biome:write

Review of PR #31 (#41)
  data/lockup/v2.0/broadcasts-zk/zksync/LockupNFTDescriptor.json
  data/lockup/v2.0/broadcasts-zk/zksync/NFTSVG.json
  data/lockup/v2.0/broadcasts-zk/zksync/SVGElements.json
  data/lockup/v2.0/broadcasts-zk/zksync/SablierBatchLockup.json
  data/lockup/v2.0/broadcasts-zk/zksync/SablierLockup.json
  justfile
  src/chains/config.ts
  src/chains/mainnets.ts
  src/contracts/queries.ts
  src/releases/airdrops/v1.1/index.ts
  src/releases/airdrops/v1.2/index.ts
  src/releases/flow/v1.0/deployments.ts
  src/releases/queries.ts
  src/sablier.ts
  src/types.ts
Due: bun run biome:write

refactor: simplify airdrops v1.1 and v1.2 exports
  src/releases/airdrops/v1.1/deployments.ts
  src/releases/airdrops/v1.2/deployments.ts
Due: bun run biome:write

docs: update natspecs of contracts getAll query
  src/contracts/queries.ts
Due: bun run biome:write

docs: roll beta.2
  CONTRIBUTING.md
  package.json
Due: bun run biome:write, bun run prettier:write

refactor: proper cli with commander
  .vscode/settings.json
  bun.lock
  cli/commands/print/aliases.ts
  cli/commands/print/chains.ts
  cli/commands/print/missing-broadcasts.ts
  cli/index.ts
  cli/print/chains.ts
  justfile
  package.json
  src/internal/helpers.ts
Due: bun run biome:write

ci: fix devkit
  .github/workflows/ci.yml
  .vscode/settings.json
  bun.lock
  package.json
Due: bun run biome:write, bun run prettier:write

refactor: rename package to sablier
  README.md
  package.json
  src/sablier.ts
Due: bun run biome:write, bun run prettier:write

chore: update description
  package.json
Due: bun run biome:write

chore: remove skale and berachain artio
  flow/v1.0.0/README.md
  flow/v1.0.0/broadcasts/berachain_artio.json
  flow/v1.0.0/broadcasts/skale_testnet.json
  lockup/v1.2.0/core/README.md
  lockup/v1.2.0/core/broadcasts/berachain_bartio.json
  lockup/v1.2.0/core/broadcasts/skale_testnet.json
  lockup/v1.2.0/periphery/README.md
  lockup/v1.2.0/periphery/broadcasts/berachain_artio.json
  lockup/v1.2.0/periphery/broadcasts/skale_testnet.json
Due: bun run biome:write, bun run prettier:write

chore: remove duplicate entries
  airdrops/v1.3.0/broadcasts/abstract_mainnet.json
Due: bun run biome:write

add hyperevm broadcasts
  airdrops/v1.3.0/README.md
  airdrops/v1.3.0/broadcasts/hyperevm.json
  flow/v1.1.0/README.md
  flow/v1.1.0/broadcasts/hyperevm.json
  lockup/v2.0.0/README.md
  lockup/v2.0.0/broadcasts/hyperevm.json
Due: bun run biome:write, bun run prettier:write

add sonic broadcasts
  airdrops/v1.3.0/README.md
  airdrops/v1.3.0/broadcasts/sonic.json
  flow/v1.1.0/README.md
  flow/v1.1.0/broadcasts/sonic.json
  lockup/v2.0.0/README.md
  lockup/v2.0.0/broadcasts/sonic.json
Due: bun run biome:write, bun run prettier:write

add sonic broadcasts (#46)
  airdrops/v1.3.0/README.md
  airdrops/v1.3.0/broadcasts/sonic.json
  flow/v1.1.0/README.md
  flow/v1.1.0/broadcasts/sonic.json
  lockup/v2.0.0/README.md
  lockup/v2.0.0/broadcasts/sonic.json
Due: bun run biome:write, bun run prettier:write

fix: arbitrum sepolia chain ID
  lockup/v1.2.0/core/README.md
  lockup/v1.2.0/periphery/README.md
Due: bun run prettier:write

docs: add deprecation warning
  README.md
Due: bun run prettier:write
